In [1]:
import sqlite3

In [3]:
con=sqlite3.connect('example.db')

In [4]:
con

In [5]:
cursor=con.cursor()

In [6]:
#create table
cursor.execute('''
Create Table If Not Exists employee(
               id Integer Primary Key,
               name Text Not Null,
               age Integer)

''')
con.commit()

In [7]:
#insert data
cursor.execute('''
Insert Into employee(id,name,age)
               Values(1,'a',34)''')
cursor.execute('''
Insert Into employee(id,name,age)
               Values(2,'b',54)''')
cursor.execute('''
Insert Into employee(id,name,age)
               Values(3,'c',33)''')
cursor.execute('''
Insert Into employee(id,name,age)
               Values(6,'d',44)''')

con.commit()

In [8]:
#querying data from table
cursor.execute('select * from employee')
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'a', 34)
(2, 'b', 54)
(3, 'c', 33)
(6, 'd', 44)

In [9]:
con.close()