list

In [1]:
#list:ordered mutable collection of data
lst=[]
print(type(lst))

<class 'list'>

In [2]:
name=["a","b","c",1,334,4.3]
print(name)

['a', 'b', 'c', 1, 334, 4.3]

In [3]:
#accessing item is list
a=[1,2,3,4,5,6,7]
print(a[1])
print(a[4])
print(a[-2])#negetive index

2
5
6

In [4]:
#slicing
print(a[0:3])
print(a[-1:])

[1, 2, 3]
[7]

In [5]:
#modifying element
print(a[3])
a[3]=45
print(a[3])

4
45

In [6]:
#list method
a=[1,2,3,4,5,6,7]
a.append(8)#add element at end
print(a[7])
a.insert(5,0)#add element at given position
print(a)
a.remove(4)
b=a.pop()#remove and return last element of list
print(b)
print(a.index(1)) #return index of the element

8
[1, 2, 3, 4, 5, 0, 6, 7, 8]
8
0

In [7]:
a.sort()# sort the list
print(a)
a.reverse()# reverse the list
print(a)
a.clear()#remove all element

[0, 1, 2, 3, 5, 6, 7]
[7, 6, 5, 3, 2, 1, 0]

In [8]:
#list iteration
a=[1,2,3,4,5,6,7]
for i in a:
    print(i)

1
2
3
4
5
6
7

In [9]:
for ind,num in enumerate(a):#iterating list with index as well as val
    print(ind," ",num)

0   1
1   2
2   3
3   4
4   5
5   6
6   7

In [10]:
#list comprehension
#syntac [expresion  for item in iterable]
#for if [expression for item in iterable if condition]
#nested list comprehension [exp for i1 in iteration1 for i2 in iteration2]
l=[x**2 for x in range(10)]
print(l)
x=[y**2 for y in range(10) if y%2==0]
print(x)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 4, 16, 36, 64]

tuples

In [11]:
#tuple ordered collection of data that is immutable(cannot manupitalte value)
tup=("A","b","c")
print(type(tup))
tpl=tuple([53,3,4,2,5,2,4])#list converted to tuple
print(tpl)

<class 'tuple'>
(53, 3, 4, 2, 5, 2, 4)

In [12]:
#operation on tuple
# concatenation of tuple
a=tup+tpl
print(a)

('A', 'b', 'c', 53, 3, 4, 2, 5, 2, 4)

In [13]:
a*3

('A',
 'b',
 'c',
 53,
 3,
 4,
 2,
 5,
 2,
 4,
 'A',
 'b',
 'c',
 53,
 3,
 4,
 2,
 5,
 2,
 4,
 'A',
 'b',
 'c',
 53,
 3,
 4,
 2,
 5,
 2,
 4)

In [15]:
#immutable nature of tuples
#element cannot be changed once assigned
a[2]=53

TypeError: 'tuple' object does not support item assignment

In [16]:
#count fin
print(a.count(2))

2

In [19]:
#packing and unpacking tuple
pck_tpl=1,43,4,23,True
print(pck_tpl)
#uncpacking
a,b,c,d,e=pck_tpl
print(a,b,c)

(1, 43, 4, 23, True)
1 43 4